.wrapper {
    --grid-width-large: 40%;
    --grid-width-medium: 60%;
    --grid-width-small: 100%;
}

.form {
    --form-width-large: 60%;
    --form-width-medium: 65%;
    --form-width-small: 70%;
}

@media only screen and (min-width:0px) and (max-width:800px) {
    .wrapper {
        position: relative;
        display: grid;
        grid-template-columns: var(--grid-width-small) 1fr;
        height: 100vh;
    }
    .image {
        visibility: hidden;
    }
    .form {
        width: var(--form-width-small);
    }
}

@media only screen and (min-width:800px) and (max-width:1500px) {
    .wrapper {
        position: relative;
        display: grid;
        grid-template-columns: var(--grid-width-medium) 1fr;
        height: 100vh;
    }
    .image {
        grid-column: 2;
        grid-row: 1;
        overflow: hidden;
        user-select: none;
    }
    .form {
        width: var(--form-width-medium);
    }
}

@media only screen and (min-width:1500px) {
    .wrapper {
        position: relative;
        display: grid;
        grid-template-columns: var(--grid-width-large) 1fr;
        height: 100vh;
    }
    .image {
        grid-column: 2;
        grid-row: 1;
        overflow: hidden;
        user-select: none;
    }
    .form {
        width: var(--form-width-large);
    }
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.formSection {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.formSection h1 {
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 10vh auto;
}

.form {
    margin: 20vh auto 30vh auto;
    /* margin: 0 auto; */
    /* margin: calc(100vh - 20vh - 1.5rem - 50vh - height) auto; */
}

.inputTypeEmail, .inputTypePassword, .inputTypeTel, select {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: visible
}

.inputTypeText, select {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: visible;
}

input[class^="LogInSignUp_inputType"]::placeholder {
    opacity: 50%;
}

input[class^="LogInSignUp_inputType"]::-webkit-input-placeholder {
    opacity: 50%;
}

input[class^="LogInSignUp_inputType"]::-moz-placeholder {
    opacity: 50%;
}

input[class^="LogInSignUp_inputType"]:-ms-input-placeholder {
    opacity: 50%;
}

input[class^="LogInSignUp_inputType"]:-moz-placeholder {
    opacity: 50%;
}

.togglePassword {
    position: absolute;
    width: 10%;
    padding-right: 3%;
    padding-left: 3%;
    height: 55.5%;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    transition: 0.5s;
    user-select: none;
}

.buttonTypeSubmit {
    width: 100%;
    background-color: #55648D;
    color: white;
    padding: 1rem 1rem;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(193, 190, 255);
    background: linear-gradient(45deg, rgba(193, 190, 255, 1) 0%, rgba(104, 159, 246, 1) 100%);
}

.buttonTypeSubmit:disabled {
    /* pointer-events: none; */
    /* background-color: #787EA2; */
    opacity: 80%;
}

.buttonTypeSubmit:hover:disabled {
    background-color: #55648D;
    cursor: not-allowed;
}

.buttonTypeSubmit:hover, .buttonTypeSubmit:focus {
    /* background-color: #787EA2; */
    filter: saturate(200%);
    outline: none;
}

.passwordField:hover, .passwordField:focus-within, .inputField:hover, .inputField:focus {
    --hover-color: #ddd;
    --box-shadow: 1px 1px 10px 5px var(--hover-color);
}

.inputField:hover, .inputField:focus {
    box-shadow: var(--box-shadow);
    background-color: white;
    outline: none;
}

.inputFieldPassword {
    margin-bottom: 0;
}

.inputFieldPassword:hover, .inputFieldPassword:focus {
    background-color: white;
    outline: none;
}

.passwordField {
    margin-bottom: 1rem;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.passwordField:hover, .passwordField:focus-within {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.passwordField:hover .inputFieldPassword, .passwordField:hover .togglePassword {
    background-color: white;
}

.passwordField:focus-within>.togglePassword {
    background-color: white;
}

.prompt {
    margin: 10vh auto 5vh auto;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
}

.promptLink {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

.promptLink:hover {
    color: #0056b3;
    text-decoration: underline
}