.sidebar {
    height: 100vh;
    /* overflow: hidden; */
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    /* margin: 2vh; */
    margin-bottom: 100px;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    transition: 0.5s;
    width: 100%;
}

.logo {
    display: grid;
    grid-row: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.nav {
    display: grid;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.listItem {
    margin: 4vh auto;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
}

.active {
    border-bottom: 2px solid black;
    font-weight: bolder;
    /* FROM: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(40%) sepia(16%) saturate(1055%) hue-rotate(186deg) brightness(91%) contrast(91%);
}

.active:active {
    pointer-events: none;
}

.icon {
    height: 1.2rem;
}

.collapseExpandButton {
    display: grid;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}

.collapseExpandButton img {
    border: 1.5px solid #1f1f1f;
    padding: 0.5rem;
    border-radius: 50%;
    width: 100%;
    -webkit-user-drag: none;
}

.navExpanded .active {
    border: none;
}