.sidebar {
    height: 96vh;
    /* overflow: hidden; */
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    margin: 2vh;
    margin-bottom: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.logo {
    display: grid;
    grid-row: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}

.nav {
    display: grid;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    margin: 1vh auto;
    font-size: 1.5rem;
    font-weight: 300;
}

.active {
    border-bottom: 2px solid black;
    pointer-events: none;
}

.collapseExpandButton {
    display: grid;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.navExpanded {
    transition: 0.5s;
}

.navCollapsed {
    transition: 0.5s;
}