.sidebar {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    margin-bottom: 100px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
}

.logo {
    display: grid;
    grid-row: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: white;
}

.logo img {
    width: 2vw;
}

.nav {
    display: grid;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.listItem {
    margin: 5vh auto;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    /* padding: 1vh 0; */
}

.listItem a {
    color: white;
}


.listItem a:hover {
    transition: 0.1s;
    color: #ddd;
}

.icon:hover {
    /* FROM: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(99%) sepia(0%) saturate(1462%) hue-rotate(176deg) brightness(106%) contrast(73%);
    /* #DDD */
}

.listItem a:hover>.icon {
    /* FROM: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(99%) sepia(0%) saturate(1462%) hue-rotate(176deg) brightness(106%) contrast(73%);
    /* #DDD */
}

.active {
    border-bottom: 2px solid white;
    font-weight: 600;
    /* background-color: rgba(255, 255, 255, 0.5);
    padding: 1vh 1vw;
    border-radius: 5px; */
}

.active:hover a {
    color: white;
}

.active:hover .icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(149deg) brightness(101%) contrast(113%) !important;
}

.active:active {
    pointer-events: none;
}

.icon {
    height: 1.15rem;
    filter: invert(1);
}

.collapseExpandButton {
    display: grid;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}

.collapseExpandButton img {
    border: 1.5px solid #0f0f0f;
    padding: 0.4rem;
    border-radius: 50%;
    width: 100%;
    -webkit-user-drag: none;
    filter: invert(1);
}

.navExpanded .active {
    border: none;
    /* background-color: var(--nav-color); */
}