.navigationExp {
    --grid-width-large: 13vw;
    --grid-width-medium: 25vw;
    --grid-width-small: 100vw;
}

.navigationCol {
    --grid-width-large: 8vw;
    --grid-width-medium: 10vw;
    --grid-width-small: 100vw;
}

.wrapper {
    background: rgb(193, 190, 255);
    background: linear-gradient(45deg, rgba(193, 190, 255, 1) 0%, rgba(104, 159, 246, 1) 34%, rgba(28, 132, 238, 1) 100%);
}

@media only screen and (min-width:0px) and (max-width:800px) {
    .wrapperExpanded {
        position: relative;
        display: grid;
        grid-template-rows: 10vh 1fr;
        height: 100vh;
    }
    .wrapperCollapsed {
        position: relative;
        display: grid;
        grid-template-columns: 10vh 1fr;
        height: 100vh;
    }
    .navigation {
        display: grid;
        /* visibility: hidden; */
        grid-row: 1;
        border: 2px solid red;
    }
    .mainContent {
        display: grid;
        width: 100vw;
        grid-column: 1;
        grid-row: 2;
    }
}

@media only screen and (min-width:800px) and (max-width:1500px) {
    .wrapperExpanded {
        position: relative;
        display: grid;
        /* grid-template-columns: var(--grid-width-medium) 1fr; */
        height: 100vh;
    }
    .wrapperCollapsed {
        position: relative;
        display: grid;
        /* grid-template-columns: var(--grid-width-medium) 1fr; */
        height: 100vh;
    }
    .navigationExp, .navigationCol {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        user-select: none;
        transition: 0.3s;
        width: var(--grid-width-medium);
    }
    .mainContent {
        display: grid;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
    }
}

@media only screen and (min-width:1500px) {
    .wrapperExpanded {
        position: relative;
        display: grid;
        height: 100vh;
    }
    .wrapperCollapsed {
        position: relative;
        display: grid;
        height: 100vh;
    }
    .navigationExp, .navigationCol {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        user-select: none;
        transition: 0.3s;
        width: var(--grid-width-large);
    }
    .mainContent {
        display: grid;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
    }
}

.mainContent {
    background-color: #F5F7FB;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden;
    /* box-shadow: 1px 1px 10px 10px #578de6; */
    /* box-shadow: 5px 95vh 15px 10px #9BB0FA, 5px 75vh 55px 10px #909eda, 5px 40vh 15px 10px #6392dd, 5px -40vh 15px 10px #3b8fe4; */
}

.wrapperExpanded .mainContent {
    box-shadow: -10px 95vh 30px 10px #9BB0FA, 5px 75vh 55px 10px #909eda, 5px 40vh 15px 10px #6392dd, 5px -40vh 15px 10px #4197ec, 5px -95vh 30px 10px #4f97e0;
}

.wrapperCollapsed .mainContent {
    box-shadow: -10px 95vh 30px 10px #a3abf1, 5px 75vh 55px 10px #909eda, 5px 40vh 15px 10px #6392dd, 5px -40vh 15px 10px #4197ec, 5px -95vh 30px 10px #4f97e0;
}

.wrapper {
    grid-template-columns: min-content 1fr;
    overflow: hidden;
    height: 100vh;
}